//= require "normalize"
//= require "fonts"

$defaultFont: 400 16px/24px "Akzidenz Grotesk", sans-serif

body
  width: 7.5in
  margin: 2em auto 2em
  background: #fdfdfd
  font: $defaultFont
  line-height: 1.2em

a
  color: inherit
  &:hover
    color: inherit

hr
  margin: 0.3em 0

header
  text-align: center

h1
  margin: .3em 0

h2
  clear: both

h2, h3, h4, p
  margin: 0

h2
  text-transform: uppercase
  font-size: 1.3em
  margin-top: .75em
  margin-bottom: .15em

.sections
  width: 100%
  overflow: hidden

  .record
    clear: both

    .content
      width: 70%
      float: left

    .sidebar
      width: 30%
      float: right

ul.items
  li
    margin-bottom: .1em

.items
  margin: .3em 0

p.location
  font-size: 14px
  text-align: right
  // float: right

p.date
  font-size: 14px
  text-align: right
  // float: right
  font-style: italic

.career
  text-align: right
  // float: right

ul
  padding-left: 3ex

h3 span.intro
  margin-right: 50px
  float: right
  width: 384px

#download
  float: right
  position: relative
  right: -120px
  top: -1em

table
  font-size: 14px
  width: 100%
  border-collapse: collapse
  border-spacing: 0
  empty-cells: show
  border: 1px solid #cbcbcb

table caption
  color: #000
  font: italic 85%/1 arial, sans-serif
  padding: 0.7em 0
  text-align: center

table td,
table th
  border-left: 1px solid #cbcbcb
  border-width: 0 0 0 1px
  font-size: inherit
  margin: 0
  overflow: visible
  padding: 0.3em

table td:first-child,
table th:first-child
  border-left-width: 0

table thead
  background-color: #e0e0e0
  color: #000
  text-align: left
  vertical-align: bottom

table td
  background-color: transparent

table tr:nth-child(2n-1) td
  background-color: #f2f2f2

table td
  border-bottom: 1px solid #cbcbcb

table tbody > tr:last-child > td
  border-bottom-width: 0

table td,
table th
  border-width: 0 0 1px 0
  border-bottom: 1px solid #cbcbcb

table tbody > tr:last-child > td
  border-bottom-width: 0

@media print
  body
    width: 7in
    height: 11in
    margin: 0.5in
    background: #ffffff
    font-size: 12px

  p.location,
  p.date
    text-align:right
    font-size: 12px

  #download
    display: none
